/*
MY COLOR PALETTE
#ffedf0
#b83c4f
#dc8587
*/

@media screen {
    #cover {
        width: 100%;
        object-fit: cover;
    }

    body {
        background-color: #ffedf0;
    }

    .movie {
        width: 220px;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .movie2 {
        background-color: #dc8587;
        margin-bottom: 15px;
    }

    .story {
        color: #b83c4f;
        font-family: "Lora", serif;
        font-size: 14px;
        width: 75%;
        margin: auto;
        margin-bottom: 10px;
    }

    .excerpt {
        border-left: 4px solid #dc8587;
        padding-left: 10px;
    }

    .authors {
        color: #dc8587;
        font-family: "Lora", serif;
        text-align: center;
        width: 85%;
        margin: auto;
        margin-bottom: 10px;
    }

    .titles {
        color: #b83c4f;
        font-family: "Fraunces", serif;
        text-align: center;
        width: 75%;
        margin: auto;
        margin-top: 20px;
        font-size: 22px;
    }

    .title {
        color: #b83c4f;
        font-family: "Fraunces", serif;
        font-size: 35px;
        text-align: center;
    }
    
    .fullwidth {padding: 0px;}

    .subtitle {
        color: #dc8587;
        font-family: "Lora", serif;
        text-align: center;
        font-size: 18px;
    }

    .author {
        color: #b83c4f;
        font-family: "Fraunces", serif;
        text-align: center;
        font-weight: bold;
    }

    .date {
        color: #dc8587;
        font-family: "Lora", serif;
        text-align: center;
        margin-bottom: 20px; 
    }

    #cover {
        margin-bottom: 10px;
    }

    .quote {
        text-align: center;
        width: 75%;
        margin: auto;
        font-family: "Lora", serif;
        color: #b83c4f;
        font-size: 20px;
    }

    .attribution {
        font-family: "Lora", serif;
        color: #dc8587;
        width: 75%;
        margin: auto;
        text-align: right;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 15px;
    }
    
    .attributions {
        font-family: "Lora", serif;
        color: #dc8587;
        width: 75%;
        margin: auto;
        text-align: right;
         font-size: 14px;
        margin-bottom: 10px
    }
}

@media (min-width: 576px) {
    .title {
        font-size: 40px;
    }

    .subtitle {
        font-size: 20px;
    }
    
    .titles {font-size: 25px;
     width: 70%;}
    
    .quote {font-size: 22px;
     width: 70%;}
    
    .attribution {font-size: 17px;
     width: 70%;}
    
    .attributions {font-size: 15px; width: 70%}
    
    .authors {font-size: 16px; width: 70%;}

    .story {
        font-size: 15px;
        width: 70%;
    }

    .movie {
        width: 300px;
    }
}

@media (min-width: 768px) {
    .title {
        font-size: 50px;
    }

    .subtitle {
        font-size: 23px;
    }
    
     .titles {font-size: 30px;
     width: 70%;}
    
    .quote {font-size: 25px;
     width: 70%;}
    
    .attribution {font-size: 18px;
     width: 70%;}
    
     .attributions {font-size: 16px; width: 70%}
    
    .authors {font-size: 17px; width: 70%;}

    .story {
        font-size: 16px;
        width: 70%;
    }
    .movie {
        width: 330px;
    }
}

@media (min-width: 992px) {
    .title {
        font-size: 60px;
    }

    .subtitle {
        font-size: 25px;
    }
    
     .titles {font-size: 33px;
     width: 65%;}
    
    .quote {font-size: 28px;
     width: 65%;}
    
    .attribution {font-size: 20px;
     width: 65%;}

     .attributions {font-size: 18px; width: 65%}
    
    .authors {font-size: 19px; width: 65%;}

    .story {
        font-size: 18px;
        width: 65%;
    }
    .movie {
        width: 350px;
    }
}
