/*
MY COLOR PALETTE
#ffedf0
#b83c4f
#dc8587
*/

@media screen {
    #cover {
        width: 100%;
        object-fit: cover;
    }

    body {
        background-color: #ffedf0;
    }

    .movie {
        width: 300px;
        margin-bottom: 20px;
        margin-top: 20px;
        float: center;
    }
    
    .movie2 {background-color: #dc8587;
    margin-bottom: 15px}

    .story {
        color: #b83c4f;
        font-family: "Lora", serif;
        font-size: 14px;
        width: 70%;
        margin: auto;
        margin-bottom: 10px;
    }

    .authors {
        color: #dc8587;
        font-family: "Lora", serif;
        text-align: center;
        width: 85%;
        margin: auto;
        margin-bottom: 10px;
    }

    .titles {
        color: #b83c4f;
        font-family: "Fraunces", serif;
        text-align: center;
        width: 85%;
        margin: auto;
        margin-top: 20px;
    }

    .title {
        color: #b83c4f;
        font-family: "Fraunces", serif;
        font-size: 35px;
        text-align: center;
    }

    .subtitle {
        color: #dc8587;
        font-family: "Lora", serif;
        text-align: center;
        font-size: 18px;
    }

    .author {
        color: #b83c4f;
        font-family: "Fraunces", serif;
        text-align: center;
    }

    .date {
        color: #dc8587;
        font-family: "Lora", serif;
        text-align: center;
    }

    #cover {
        margin-bottom: 10px;
    }

    .quote {
        text-align: center;
        width: 80%;
        margin: auto;
        font-family: "Lora", serif;
        color: #b83c4f;
        font-size: 20px;
    }

    .attribution {
        font-family: "Lora", serif;
        color: #dc8587;
        width: 70%;
        margin: auto;
        text-align: right;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (min-width: 576px) {
    .title {
        font-size: 40px;
    }

    .subtitle {
        font-size: 20px;
    }

    .story {
        font-size: 16px;
        width: 60%;
    }
}

@media (min-width: 768px) {
    .title {
        font-size: 50px;
    }

    .subtitle {
        font-size: 23px;
    }

    .story {
        font-size: 18px;
        width: 60%;
    }
}

@media (min-width: 992px) {
    .title {
        font-size: 60px;
    }

    .subtitle {
        font-size: 25px;
    }

    .story {
        font-size: 20px;
        width: 55%;
    }
}
